body {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.root-navblock {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.navblock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.field {
	border: 1px solid black;
	width: 40rem;
	margin: .3rem;
	padding: .3rem;
	border-radius: .3rem ;
}
.big {
	border-bottom-right-radius: 0;
	resize: vertical;
}
.squeezed {
	width: 38rem;
}
.button {
	border-width: 2px;
	margin-left: 0;
	margin-right: 0;
}
.delim {
	border-width: 1px;	
	width: 45rem;
}
.block {
	padding: 1rem;
	width: 10rem;
	margin: .1rem;
	text-align: center;
}
.wait {
	background-color: silver;
}
.all-match {
	background-color: #4c8046;
}
.not-all-match {
	background-color: #ff564f;
}